<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="inicio">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="inicio" routerLinkActive="active" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="servicios" routerLinkActive="active" href="#">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="galeria" routerLinkActive="active" href="#">Galeria</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="contacto" routerLinkActive="active" href="#">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>