<section>
    <img src="https://cdn.pixabay.com/photo/2021/11/26/02/39/dog-6824999_960_720.jpg" class="rounded"
        alt="...">
    <img src="https://cdn.pixabay.com/photo/2021/11/26/02/39/dog-6824999_960_720.jpg" class="rounded"
        alt="...">
    <img src="https://cdn.pixabay.com/photo/2021/11/26/02/39/dog-6824999_960_720.jpg" class="rounded"
        alt="...">
    <img src="https://cdn.pixabay.com/photo/2021/11/26/02/39/dog-6824999_960_720.jpg" class="rounded"
        alt="...">
    <img src="https://cdn.pixabay.com/photo/2021/11/26/02/39/dog-6824999_960_720.jpg" class="rounded"
        alt="...">
</section>